Flask
Flask-Login
Flask-SQLAlchemy      # ← TAMBAHKAN
Flask-Migrate         # ← TAMBAHKAN
Flask-Bcrypt          # ← TAMBAHKAN
pandas
numpy
scikit-learn
openpyxl
joblib
gunicorn
setuptools
wheel
Werkzeug<3.0